h1 {
    color: aqua;
    text-align: center;
    font-size: 50px;
}

p {
    font-size: 20px;
    text-align: center;
}

#selection {
    display: flex;
    justify-content: center;
}

.image {
    border: none;
    padding: 30px;
    width: 120px;
    height: 120px;
}